@mixin atSmall{
	@media screen and (min-width: 576px) {
		@content;
	}
}

@mixin atMedium{
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin atLarge{
	@media screen and (min-width: 1200px) {
		@content;
	}
}

@mixin clearFix{
	&::after {
	  content: "";
	  display: table;
	  clear: both;
	}
}

@mixin clearFixBefore{
	&::before {
	  content: "";
	  display: table;
	  clear: both;
	}
}