.navbar {
	width: 100%;
	background-color: $white;
	border-bottom: 2px solid $mainGray;

	a {
		color: $mainGray;
		width: 100px;
		text-align: center;
	}

	li {
		margin-left: 5px;
	}
	li:hover {
		background-color: $mainGray;
		a {
		color: $white;
		}
	}
	button {
		border: 2px solid $mainGray;
		border-radius: 3px; 
		color: $mainGray;
		cursor: pointer;
		margin-top: 6px;
    	height: 35px;
	}
}

.nav-wrapper {
	background-color: #fff;

	.logo {
		font-family: 'Poiret One', cursive;
		margin-left: 5px;
		font-size: 1.8rem;
		font-weight: 500;

		@include atMedium {
			margin-left: 3rem;
		}
	}
}
