.recent-work {
	height: auto;

	img {
	width: 100%;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
		@include atMediumPlus {
			width: 250px;
			height: 350px;
		}

	}
}
.work-item {
	cursor: pointer;
	width: 300px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 50px;
}

.recent-wrk-btn {
	width: 90%;
	height: 400px;
	transition: transform 0.6s;
	bottom: -400px;
	position: absolute;
	background-color: transparent;
		@include atMedium {
			width: 92%;
		}
		@include atMediumPlus {
			width: 250px;
			height: 350px;
		}

	span {
		background-color: $mainGray;
		display: block;
		margin-top: 260px;
		padding: 10px 10px 10px 0px;
	}

	a{
		color: #fff;
		text-decoration: none;
	}
}

.work-item:hover .recent-wrk-btn{
	transform: translateY(-300px);

	@include atMediumPlus {
		transform: translateY(-350px);
	}
}