.recent-work {
	height: auto;

	img {
	width: 300px;
	height: 400px;
	position: relative;
	overflow: hidden;
	}
}
.work-item {
	cursor: pointer;
	width: 300px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 50px;
}

.recent-wrk-btn {
	height: 400px;
	width: 300px;
	transition: transform 0.6s;
	bottom: -400px;
	position: absolute;
	background-color: transparent;

	span {
		background-color: $mainGray;
		display: block;
		margin-top: 260px;
		padding: 10px 10px 10px 0px;
	}

	a{
		color: #fff;
		text-decoration: none;
	}
}

.work-item:hover .recent-wrk-btn{
	transform: translateY(-300px);
}