.recent-work {
	height: 450px;
	img {
	width: 250px;
	height: 300px;
	}
}
.work-item {
	cursor: pointer;
	overflow: hidden;
}

.recent-wrk-btn {
	height: 50px;
	width: 250px;
	transition: transform 1.6s;
	position: relative;
	padding-top: 10px;
	display: none;
	background-color: $mainGray;

	a{
		color: #fff;
		text-decoration: none;
	}
}

.work-item:hover .recent-wrk-btn{
	transform: translateY(-50px);
	display: block;
}