.site-footer {
	height: auto;
	background-color: $mainGray;
	color: #fff;

	@include clearFixBefore;

	@include atMedium {
		height: 280px;
	}

	ul {
    margin-left: 0;
    margin-top: 0;

	    @include atMedium {
		    margin-left: -38px;
			margin-top: 15px;
		}

		li {
			list-style: none;
		}
	}
	
}